<footer class="site">
    <div class="column">
        <h3>Contact</h3>
        <ul>
            <li>E-mail: <a title="e-mail" href="mailto:lhunath@lyndir.com">lhunath@lyndir.com</a></li>
            <li>Matrix: <a title="matrix.org" href="https://riot.im/app/#/login">@lhunath:lyndir.com</a></li>
            <li>Twitter: <a title="twitter.com" href="https://twitter.com/lhunath">@lhunath</a></li>
        </ul>
    </div>

    <div class="column">
        <h3>Resources</h3>
        <ul>
            <li><a title="resume" href="resume.pdf">My Resume (PDF)</a></li>
        </ul>
    </div>
</footer>
