@import url(http://fonts.googleapis.com/css?family=Lato:100,400|Oswald);
@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,200);
@import url(http://fonts.googleapis.com/css?family=Bevan);

body {
    font-family: Raleway, sans-serif;
}
h1, .button {
    font-family: Bevan, serif;
}
h2, h3 {
    font-family: Raleway, serif;
}
h3 {
    font-family: Raleway, serif;
    font-weight: 100;
}

html, body {
    background:
    radial-gradient(#202020 15%, transparent 16%) 0 0,
    radial-gradient(#202020 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.03) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.03) 15%, transparent 20%) 8px 9px;
    background-color:#262626;
    background-size:16px 16px;

    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    color: #DDD;
}
body {
    font-size: 130%;
}

h1 {
    color: #E52828;
    text-shadow: 0 0 5px black;
    text-align: center;
    font-size: 500%;
    margin: 1em -300px;
}

h2 {
    color: #63E863;
    text-shadow: 0 0 5px black;
    font-size: 230%;
}

h3 {
    position: relative;
    padding-top: 4em;
    color: #B23D0D;
    text-shadow: 0 0 5px rgba(0, 0, 0, .6);
    font-size: 170%;
}

h3 svg {
    position: absolute;
    margin-top: -30px;
    margin-left: -45px;
    fill: #B23D0D;
    opacity: .2;
}

h6 {
    margin: 0;
    font-size: 40%;
    text-align: center;
}

header, footer {
    position: relative;
    background: #1C1C1C;
    padding: 100px 350px 1em;
    border-bottom: 1px solid #333;
}

header {
    background: linear-gradient( to bottom, rgba(28, 28, 28, .8), #1C1C1C), #1C1C1C url(https://ustr.gov/sites/default/files/POTUS-TPP-large.jpeg) center center no-repeat;
    background-size: cover;
    box-shadow: 0 0 1em black inset;
}

section.protest {
    background: url('protest.svg') center center no-repeat;
    background-size: contain;
}

footer {
    padding: 1em 150px 150px;
    color: #666;
    text-align: center;
    border-top: 1px solid #333;
    border-bottom: none;
    font-size: 80%;
}

section {
    position: relative;
    padding: 1em 150px;
}

p {
    padding: 0 2em;
    line-height: 1.8em;
}

section p {
    border-left: 5px solid #B23D0D;
}

em {
    color: #FFF;
    font-weight: 100;
}

q {
    display: block;
    font-size: 300%;
    text-align: center;
    text-shadow: 0 0 2px #000;
    margin: 1em 2em;
}

.box {
    background: rgba(0, 0, 0, .2);
    padding: 1em;
    border: 1px solid #333;
}

a, a:visited, a:link {
    color: inherit;
}

a:hover {
    color: #FFF;
}

.button {
    display: table;
    font-size: 250%;
    text-decoration: none;
    margin: 1em auto;
    transition: box-shadow .3s, border .3s;
    background: #444;
}

div .button {
    font-size: 200%;
}

.hidden {
    display: none;
}

.button:hover {
    box-shadow: 0 0 1em rgba(0, 0, 0, .7) inset, 0 0 1ex black;
    border-color: #FFF;
}

.button, .agree, .disagree {
    padding: 0.5ex;
    border: 1px solid;
    border-radius: 4px;
    box-shadow: 0 0 1em rgba(0, 0, 0, .3) inset, 0 0 1ex black;
    text-shadow: 0 0 5px rgba(0, 0, 0, .2);
}

.agree, .agree:link, .agree:visited {
    color: #47B20D;
    background: #63E863;
}

.disagree, .disagree:link, .disagree:visited {
    color: #E52828;
    background: #B23D0D;
}

